@model HR.Web_UI.Models.ViewModels.Account.ChangePasswordViewModel

@using (Ajax.BeginForm("ChangePassword", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "userContener", LoadingElementId = "loading-indicator" }))
{ 

<div class="col-lg-offset-1 col-lg-3">

    <div class="input-group input-group-sm">
        <span class="input-group-addon">@Html.LabelFor(p => p.OldPassword)</span>
        @Html.TextBoxFor(p => p.OldPassword, new { @class = "form-control" })
    </div><br />

    <div class="input-group input-group-sm">
        <span class="input-group-addon">@Html.LabelFor(p => p.NewPassword)</span>
        @Html.TextBoxFor(p => p.NewPassword, new { @class = "form-control" })
    </div><br />

    <div class="input-group input-group-sm">
        <span class="input-group-addon">@Html.LabelFor(p => p.NewPasswordAgain)</span>
        @Html.TextBoxFor(p => p.NewPasswordAgain, new { @class = "form-control" })
    </div><br />

    <input class="btn btn-default"  type="submit" value="Zmień hasło"/>

</div>
}
