<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Paweł Chmielewski">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>


    <meta name="description" content="HR helper aplication" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Grupowanie "marki" i przycisku rozwijania mobilnego menu -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Rozwiń nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img style="margin-top:-10px; width:200px; height:40px;" src="~/Content/Images/logo.jpg" /></a>
                </div>
                <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/User/Index">Panel zadań</a></li>

                            <li><a href="#">Wyświetl monitor pracy</a></li>
                        }

                        @if (User.IsInRole("HR"))
                        {
                            <li><a href="#">Zarządzaj pracownikami</a></li>
                        }

                    </ul>

                    @*<form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Szukaj">
                            </div>
                            <button type="submit" class="btn btn-default">Wyślij</button>
                        </form>*@

                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Witaj @User.Identity.Name<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Zarządzaj kontem", "ManageAccount", "Worker")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Wyloguj", "Logoff", "Account")</li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="@Url.Action("Login","Account")" class="dropdown-toggle" data_toggle="dropdown">Zaloguj</a>
                            </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Materiały<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("DisplayPromotialMaterials", "Common")">Materiały promocyjne</a></li>
                                <li class="divider"></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="#">Materiały szkoleniowe</a></li>
                                    <li class="divider"></li>
                                }
                                <li><a href="@Url.Action("InformacjeOFirmie", "Common")">Informacje o firmie</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("AboutAuthor", "Common")">Informacje o tworcy</a></li>
                            </ul>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        @RenderBody()

        <img src="/Content/Images/ajax-loader.gif" id="loading-indicator" style="display:none" />

    </div>

    <div class="panel-footer" style="margin-top: 100px">

        <p style="text-align:center">&copy; 2014. Paweł Chmielewski. Praca magisterska</p>

    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
        //do optymalizajci
        $(document).ajaxSend(function (event, request, settings) {
            $('#loading-indicator').show();
        });

        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').hide();
        });
    </script>

    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    
   

</body>
</html>