@model IEnumerable<HR.Core.Models.RepoModels.Document>
@using HR.Web_UI.Models.ViewModels.HR;
@{
    ViewBag.Title = "_LearnHistory";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Typ</th>
            <th>Link do pobrania</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Type</td>
                <td><a class="btn btn-link" href="@Url.Action("DownloadFile", "HR", new { file = item.Content, fileName = item.Name }) )">Pobierz plik!</a></td>
            </tr>
        }
    </tbody>
</table>


<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Dodaj dokument</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Dodaj uczelnie</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AddDocument", new HR.Core.Models.RepoModels.Document())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Wróć</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myModal').modal('show');
</script>