@model HR.Web_UI.Models.ViewModels.HR.PersonDisplayViewModel
@using HR.Web_UI.Services;
@{
    ViewBag.Title = "DisplaySuccessOfAddWorker";
}

<h2 class="col-lg-offset-4 m_b_30">Dane pracownika: @Model.FirstName  @Model.Surname</h2>

<div id="message" class="col-lg-offset-3 col-lg-6 alert alert-success" role="alert">
    <label class="col-lg-offset-4">@ViewBag.Message</label>
</div><br />

@Html.ActionLink("Lista wypłat pracownika", "DisplayBenefitsOfWorker", new { Id = Model.Id }, new { @class = "btn btn-lg  btn-info col-lg-offset-9" }) 

<div class="panel panel-primary col-lg-offset-1 col-lg-10">
    <div class="panel-heading">Dane pracownika</div>
    <div class="panel-body">

        <div class="panel panel-title">
            <div class="panel-heading">Dane osobowe</div>
            <div class="panel-body">
                <div class=" col-lg-offset-1 col-lg-5">

                    @Html.HiddenFor(m=>m.Id)

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p=>p.FirstName)</span>
                        @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Surname)</span>
                        @Html.TextBoxFor(p => p.Surname, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.AccountType)</span>
                        @Html.TextBoxFor(p => p.AccountType, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.DateOfBirth)</span>
                        @Html.TextBoxFor(p => p.DateOfBirth, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">

                        <span class="input-group-addon">@Html.LabelFor(p => p.City)</span>
                        @Html.TextBoxFor(p => p.City, new { @class = "form-control" })

                        <span class="input-group-addon">@Html.LabelFor(p => p.PostalCode)</span>
                        @Html.TextBoxFor(p => p.PostalCode, new { @class = "form-control" })

                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Street)</span>
                        @Html.TextBoxFor(p => p.Street, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">

                        <span class="input-group-addon">@Html.LabelFor(p => p.BuildingNumber)</span>
                        @Html.TextBoxFor(p => p.BuildingNumber, new { @class = "form-control" })

                        <span class="input-group-addon">@Html.LabelFor(p => p.ApartmentNumber)</span>
                        @Html.TextBoxFor(p => p.ApartmentNumber, new { @class = "form-control" })

                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Phone)</span>
                        @Html.TextBoxFor(p => p.Phone, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Email)</span>
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.NIP)</span>
                        @Html.TextBoxFor(p => p.NIP, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.IDCard)</span>
                        @Html.TextBoxFor(p => p.IDCard, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.PESEL)</span>
                        @Html.TextBoxFor(p => p.PESEL, new { @class = "form-control" })
                    </div><br />

                </div>

                <div class="col-lg-5">
                    <span class="input-group-addon">@Html.LabelFor(p => p.Photo)</span><br />
                        @Html.Image(Model.Photo,"h_300 w_20 m_l_150")<br /><br /><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Facebook)</span>
                        @Html.TextBoxFor(p => p.Facebook, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Google)</span>
                        @Html.TextBoxFor(p => p.Google, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Twitter)</span>
                        @Html.TextBoxFor(p => p.Twitter, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.GoldenLine)</span>
                        @Html.TextBoxFor(p => p.GoldenLine, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.LinkIn)</span>
                        @Html.TextBoxFor(p => p.LinkIn, new { @class = "form-control" })
                    </div><br />

                </div>

            </div>
        </div>


        <div class="panel panel-title col-lg-offset-1 col-lg-5">
            <div class="panel-heading">Dane zatrudnienia</div>
            <div class="panel-body">
                <div class="">

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Position)</span>
                        @Html.TextBoxFor(p => p.Position, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Organization)</span>
                        @Html.TextBoxFor(p => p.Organization, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.Manager)</span>
                        @Html.TextBoxFor(p => p.Manager, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.EmploymentType)</span>
                        @Html.TextBoxFor(p => p.EmploymentType, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContractType)</span>
                        @Html.TextBoxFor(p => p.ContractType, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContractDimension)</span>
                        @Html.TextBoxFor(p => p.ContractDimension, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.StartDate)</span>
                        @Html.TextBoxFor(p => p.StartDate, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.EndDate)</span>
                        @Html.TextBoxFor(p => p.EndDate, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.MonthBenefit)</span>
                        @Html.TextBoxFor(p => p.MonthBenefit, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.BenefitPerHour)</span>
                        @Html.TextBoxFor(p => p.BenefitPerHour, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.BankName)</span>
                        @Html.TextBoxFor(p => p.BankName, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.BankAddress)</span>
                        @Html.TextBoxFor(p => p.BankAddress, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.AccountNumber)</span>
                        @Html.TextBoxFor(p => p.AccountNumber, new { @class = "form-control" })
                    </div><br />


                </div>
            </div>
        </div>

        <div class="panel col-lg-5">
            <div class="panel-heading">Dane osoby kontaktowej</div>
            <div class="panel-body">
                <div class="">

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonFirstName)</span>
                        @Html.TextBoxFor(p => p.ContactPersonFirstName, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonSurname)</span>
                        @Html.TextBoxFor(p => p.ContactPersonSurname, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonCity)</span>
                        @Html.TextBoxFor(p => p.ContactPersonCity, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonPostalCode)</span>
                        @Html.TextBoxFor(p => p.ContactPersonPostalCode, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonStreet)</span>
                        @Html.TextBoxFor(p => p.ContactPersonStreet, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonBuildingNumber)</span>
                        @Html.TextBoxFor(p => p.ContactPersonBuildingNumber, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonApartmentNumber)</span>
                        @Html.TextBoxFor(p => p.ContactPersonApartmentNumber, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonPhone)</span>
                        @Html.TextBoxFor(p => p.ContactPersonPhone, new { @class = "form-control" })
                    </div><br />

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@Html.LabelFor(p => p.ContactPersonEmail)</span>
                        @Html.TextBoxFor(p => p.ContactPersonEmail, new { @class = "form-control" })
                    </div><br />

                </div>
            </div>
        </div>
        <div class="panel panel-title col-lg-offset-1 col-lg-8"></div>

        <div class="panel panel-title col-lg-offset-1 col-lg-10">
            <div class="panel-heading">Historia zatrudnienia</div>
            <div class="panel-body">
                <div class="" id="working">

                    @Html.Action("DisplayAllJobs",Model.Id)

                </div>
            </div>
        </div>

        <div class="panel panel-title col-lg-offset-1 col-lg-10">
            <div class="panel-heading">Historia edukacji</div>
            <div class="panel-body">
                <div class="" id="learning">

                    @Html.Action("DisplayAllCollages", Model.Id)

                </div>
            </div>
        </div>

        <div class="panel panel-title col-lg-offset-1 col-lg-10">
            <div class="panel-heading">Certyfikaty i odbyte szkolenia</div>
            <div class="panel-body">
                <div class="" id="learning">

                    @Html.Action("DisplayAllTranings", Model.Id)

                </div>
            </div>
        </div>

        <div class="panel panel-title col-lg-offset-1 col-lg-10">
            <div class="panel-heading">Dokumenty</div>
            <div class="panel-body">
                <div class="" id="documents">

                    @Html.Action("DisplayDocuments", Model.Id)

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery("#message").delay(4000).fadeToggle(1000, "linear");
    });
</script>

